[2012-11-01 01:03] wmeeusse opened #1 "Pluginlib on catkin"
I'm using plugins in a pure catkin environment, where both the plugins and the code that calls the plugins is in catkin. When instantiating the plugin loader, I get the following (meaningless?) error:

[ERROR] [1351729666.226378607]: Could not find package name for class /home/wim/stacks/groovy/catkin_ws/src/joint_state_controller/joint_state_plugin.xml

What does this mean? The xml file is a clas

[2012-11-01 01:17] dirk-thomas commented on #1
already fixed in 75902291281d8aa9893614812e5152ce31207140

[2012-11-01 01:40] wmeeusse opened #2 "Meaningless error message"
I'm using plugins in a pure catkin environment, where both the plugins and the code that calls the plugins is in catkin. When instantiating the plugin loader, I get the following (meaningless?) error:

[ERROR] [1351729666.226378607]: Could not find package name for class /home/wim/stacks/groovy/catkin_ws/src/joint_state_controller/joint_state_plugin.xml

What does this mean? The xml file is a clas

[2012-11-01 02:04] dirk-thomas commented on #2
Duplicate of #1. The message states exactly what happens: the package name of that plugin class could not be determined.

This is not supposed to happen. It appeared because resolving wet and dry stuff is still in a flux - if it would appear again the user has no chance to resolve that since it would be a problem of the underlying tools.

[2012-11-01 02:18] mirzashah commented on #1
Actually the error message is misleading and has thrown me off a few times as I've taken over maintenance of pluginlib. When that error occurs, what's actually happening is that it can't find the file "manifest.xml" or "package.xml" at the same directory level as the plugin XML file so it can't be sure that it's actually a package. It'll keep trying to truck along without it but it gives you that

[2012-11-01 02:18] #1 closed, assigned to nobody

[2012-11-01 02:27] wmeeusse commented on #2
It's still not clear to me, but at this point my best suggestion for an error message would be:

Could not find element xxx with the package name in the xml file /home/wim/stacks/groovy/catkin_ws/src/joint_state_controller/joint_state_plugin.xml. Please update this xml file.

The message should also give you an idea of what you need to fix. If this is not correct, please help me out in trying to c

[2012-11-01 02:38] dirk-thomas commented on #2
The error message is not due to a bug in the xml.

As stated above ROS is not able to find the corresponding package name to which this xml file belongs. This was due to different behavior of rospack and pluginlib in deciding how to identify packages. This issue has been resolved.

Anyway the error message can not give the user an idea what he needs to do because he has no way of fixing the proble

[2012-11-01 02:38] #2 closed, assigned to nobody

[2012-11-01 02:39] wmeeusse commented on #1
Thanks Mirza, this is awesome feedback on the error message!

As for the bug itself, I was running with the debian in shadow fixed that got built and pushed this afternoon, while the bug got fixed 5 days ago.  Was the original fix not yet released?  Now that I can understand the error message, I'll take another look at my setup.

[2012-11-01 02:54] dirk-thomas commented on #1
The fix was released today as 1.9.3 (see 5678160b81760e309fc67cfd9f0a3ff77a1f9330)

[2012-11-01 02:55] wmeeusse commented on #2
To provide an answer to the ticket, based on the comment in #1:

Pluginlib can't find the file "manifest.xml" or "package.xml" at the same directory level as the plugin XML file, so it can't be sure that this directory is actually a package.

[2012-11-09 07:44] tfoote opened #3 "pluginlib no longer exports link flags needed for nodelet"
I suspect it's this change: 099d7768d7048713ffb8022d18e8eee6578c3e95

http://jenkins.willowgarage.com:8080/view/GbinP64/job/ros-groovy-nodelet_binarydeb_precise_amd64/82/console

[2012-11-09 09:30] dirk-thomas commented on #3
Fixed in catkin.

[2012-11-09 09:30] #3 closed, assigned to dirk-thomas

[2012-11-17 09:32] mirzashah opened #4 "Update wiki page for pluginlib"
pluginlib page has a few things that are out of date though the API stays the same, particularly for groovy.

-in groovy, package.xml holds export tag instead of manifest.xml
-pluginlib now sits on class_loader (create a link)
-warn about linking directly against libs (mirror from class_loader wiki page)
-clarify new features such as thread safety and ability to introspect an arbitrary library

[2012-11-17 09:35] mirzashah opened #5 "expose class_loader functionality in pluginlib"
I thought it might be interesting to expose some of the class_loader functionality like introspection of classes and the ability to create plugins from real class name. This could serve as a way for users to stop using the "magic name" for plugins and use the real nae instead (down the line).

nts: How to get users to use new PLUGINLIB_DECLARE_CLASS_SIMPLE macro instead?

[2012-12-06 00:27] mirzashah commented on #4
I'm putting this on hold for a few days until I can get confirmation back from the team regarding what they want to see API wise. I ran into some issues with inline version tags (e.g. calling it manifest.xml in electric/fuerte and package.xml in groovy). Need to figure out how to handle...

[2012-12-11 17:58] davetcoleman opened #6 "wrongly assumes package name is package's folder name"
in MoveIt there exists packages whose's folder name does not match their package name - ie moveit_ros_visualization is located in the folder moveit_ros/visualization.  pluginlib assumes that your package name is the same as the folder name. it calls ros::package ::getPath(package_name) and makes sure it matches the current package's location. the fix seems to me to be instead of assuming the packa

[2012-12-11 18:08] davetcoleman commented on #6
though perhaps there should be some thought into whether a package should have a differently named folder. having the same name is much better for clarity

[2012-12-11 19:49] mirzashah commented on #6
I can enhance it to look at the package.xml, shouldn't take too long. However, please reconsider renaming your folders to match the package name for consistency with the rest of ROS.

[2012-12-11 19:57] davetcoleman commented on #6
i agree with @mirzashah... what do you think @isucan ?

[2012-12-11 20:16] isucan commented on #6
@mirzashah knows all the details about pluginlib and class loader. I think the proposed solution is great.

[2012-12-11 20:33] davetcoleman commented on #6
@isucan i meant what do you think about "renaming your folders to match the package name for consistency with the rest of ROS"

[2012-12-11 20:44] isucan commented on #6
As I understand things, not being tied to folder names is a new feature of the packaging system. So while packages using rosbuild cannot use this feature, I do not see a reason why new packages should not make use of it.

[2012-12-12 06:07] tfoote commented on #6
I talked with @mirzashaw We relaxed the requirement that package names be
the same as directory names.  So the logic in pluginlib needs to be
changed.  It looks like he's already patched
it  25788f5ee8008573531589b84fa3f3fa4fd5d5c7

On Tue, Dec 11, 2012 at 12:44 PM, isucan notifications@github.com wrote:

##

Tully Foote
tfoote@willowgarage.com
(650) 475-2827

[2012-12-12 06:08] #6 closed, assigned to mirzashah

[2012-12-13 23:25] mirzashah commented on #5
This was fairly easy to add in. I figured it required modifying rospack but it was actually in that big xml parsing mess (which I cleaned up a little more)

[2012-12-13 23:25] #5 closed, assigned to mirzashah

[2012-12-13 23:27] mirzashah commented on #4
I've updated the pages to handle the different distros.

[2012-12-13 23:27] #4 closed, assigned to mirzashah

[2013-01-10 02:48] 130s opened #7 "tutorial) Wrong code snippet for plugin.xml"
http://www.ros.org/wiki/pluginlib/Tutorials/Writing%20and%20Using%20a%20Simple%20Plugin?action=recall&rev=24
As of this revision, choosing `groovy` shows the right content of `plugin.xml` but `fuerte` and `electric` still shows the same.

Root cause is in the macro's bug, which is issued https://github.com/ros-infrastructure/roswiki/issues/17

[2013-01-16 01:00] dgossow opened #8 "segfault in purgeGraveyardOfMetaobjects"
This happens when I add a camera display in rviz.

rviz: 0f71e032dbe5310e78054cb0f7b10c62aa2ac4df
pluginlib: f684438e53da7ddaae37cfaf896f085846baa80e
#0  0x00007ffff45405c0 in class_loader::class_loader_private::purgeGraveyardOfMetaobjects(std::string const&, class_loader::ClassLoader*, bool) () from /opt/ros/groovy/lib/libclass_loader.so
#1  0x00007ffff4542e50 in class_loader::class_loader_privat

[2013-01-16 01:13] dgossow commented on #8
(also happens for depthcloud and image)

[2013-01-16 01:31] dgossow commented on #8
This is what class_loader does:

[ INFO] /rviz_1358299800181619123: class_loader::class_loader_private: Also destroying metaobject 0x34301c0 (class = compressed_depth_image_transport::CompressedDepthPublisher, base_class = image_transport::PublisherPlugin, library_path = /opt/ros/groovy/lib//libcompressed_depth_image_transport.so) in addition to purging it from graveyard.

[2013-01-16 01:33] dgossow commented on #8
Here's again a backtrace with line numbers, plus some warnings:

[ INFO] /rviz_1358299911399768852: pluginlib WARNING: PLUGINLIB_DECLARE_CLASS is deprecated, please use PLUGINLIB_EXPORT_CLASS instead. You can run the script 'plugin_macro_update' provided with pluginlib in your package source folder to automatically and recursively update legacy macros.
[ INFO] /rviz_1358299911399768852: pluginlib

[2013-01-16 01:49] mirzashah commented on #8
Same as https://github.com/ros-visualization/rviz/issues/559
Issue has been resolved with class_loader 0.1.24, still building on the farm...

[2013-01-16 01:54] dgossow commented on #8
I'm running everything from sources.

[2013-01-16 01:55] mirzashah commented on #8
Interesting, let me try to recreate the issue

[2013-01-16 02:08] dgossow commented on #8
It's actually happening when I add the second Image/Camera/DepthCloud display.
I've got everything from sources:

dgossow@lex:~/wsrviz$ ls src
class_loader  CMakeLists.txt  image_common  image_transport_plugins  pluginlib  rviz

[2013-01-16 02:18] mirzashah commented on #8
Strange, I'm exhibiting this behavior too. I had fixed this problem...the only difference is that I was running debug code. Argh, back to the drawing board.

[2013-01-17 01:45] mirzashah commented on #8
Fixed with class_loader 0.1.25 (0375e760af6f42bc481c149a5754de58d3a52c86).

The problem was that the metaobject destructors were being defined in a header file. As metaobject.h is included by class_loader_core.h which is included by class_loader.h which is included by pluginlib/class_loader.h, this creates a definition of the destructor in both libclass_loader.so as well as the plugin library. Thi

[2013-01-17 01:45] #8 closed, assigned to nobody

[2013-01-17 01:46] dgossow commented on #8
:+1:

[2013-01-17 01:50] dgossow commented on #8
I can confirm that this doesn't happen any more on my machine.

[2013-01-18 21:24] DLu opened #9 "Core Dumps with No Plugins on ClassLoader constructor"
I was refactoring code, and mistakenly didn't change the export tags on a plugin. Hence there were no available plugins for the given type.

[code]

[2013-01-23 01:37] marioprats opened #10 "Support for boost filesystem v2"
Inside class_loader_imp.h there are a couple of calls specific to boost filesystem v3 that won't compile on projects using v2. There are just two of them: native() and filename().string(). We could use the macro BOOST_FILESYSTEM_VERSION to detect the version in use and then call the appropriate function. If this makes sense I can submit a pull request with the changes.

[2013-01-23 08:42] mirzashah commented on #10
Yes please submit a pull request.

[2013-01-24 00:42] #10 closed, assigned to nobody

[2013-01-24 01:55] mirzashah commented on #9
I forgot to follow up on this. Could you explain in a little more detail the conditions for recreating the bug:
-What part of the export tags were incorrect, the lookup name, the base class, or the derived class?
-Could you provide a simple sample program recreating the bug?

If the issue turns out to be Fuerte-only, I likely won't backport a fix as it's easy to workaroundl

[2013-01-24 02:10] DLu commented on #9
[code]

Here is a simple test case. There are no plugins of type Jedi defined anywhere. However, you would expect it to only error out on the commented out line, not the ClassLoader line.

I have not tested in Groovy.

[2013-01-24 02:18] mirzashah commented on #9
Oh that is odd...that case should be covered by unit test. I'll try to recreate and get back to you.

[2013-01-26 01:22] mirzashah commented on #9
I misread your output, it's actually correct.  The SIGABRT is triggered by the exception that is raised, which is the correct behavior. When a ClassLoader is created, it queries rospack for all plugin XML files exported by the package it is bound to. It seems that if there are no XML files exported by a package, it raises a LibraryLoadException.

Though the behavior is correct, the exception type

[2013-01-26 01:22] #9 closed, assigned to mirzashah

[2013-02-05 16:52] tkruse opened #12 "plugin_macro_update probably should not be in global bin path"
See also https://groups.google.com/d/topic/ros-sig-buildsystem/hsxeJocnKIQ/discussion

[2013-03-02 06:12] trainman419 opened #14 "Add filename to deprecated pluginlib warning"
When starting a large project, it is difficult to determine where the pluginlib macro warnings are coming from. It would be useful if the macro included the filename where it was invoked.

[2013-03-02 08:51] mirzashah commented on #14
Yes good idea, will make a note to add that in.

Though the thrill of the hunt for mystery macro warnings is spectacular.

[2013-04-17 16:31] cottsay opened #15 "resolved_library_path_ never gets set"
I have little knowledge of this, but I'm pretty sure @dirk-thomas (or someone else) will know for sure if this is a bug or if I'm using pluginlib wrong.

In my implementation I cannot let pluginlib manage instance. The problem is that when I try to unload the library (as the documentation says I need to do manually), pluginlib finds that `resolved_library_path_` is `UNRESOLVED` and refuses to call

[2013-04-17 17:28] mirzashah commented on #15
hey @cottsay, I'm the current maintainer of pluginlib. I'm looking into this now. If you could provide a simple test program that would be great. The unit tests for pluginlib and the underlying class_loader package should handle this situation.

[2013-04-17 17:45] mirzashah commented on #15
You're right...it isn't being set any more. Not sure why that was removed and how things work without it. I'll investigate further.

[2013-04-17 17:53] cottsay commented on #15
Thanks for getting back to me so quickly, @mirzashah . I created a quick test package available at https://github.com/cottsay/pluginlib_test .

[2013-04-18 01:28] mirzashah commented on #15
Fixed in 560ccbe9188f22f76c8bca40d5703b104569073b. Simple fix to set that value. I don't think anybody noticed as the library is unloaded via another mechanism on ClassLoader destruction (destruction of the member class_loader::MultiLibraryClassLoader object takes care of this).

I've added a unit test for this case and realized I need to add in a few more unit tests. Let me know if this version w

[2013-04-18 01:28] #15 closed, assigned to mirzashah

[2013-04-18 02:37] cottsay commented on #15
Looks great @mirzashah, thanks for taking care of this so quickly. Looks like it solved the problem!

[2013-07-11 21:51] danepowell commented on #14
Mmm... the thrill of the hunt, I guess that's one way to look at it :)

Any idea how to implement this, or tips for tracking down where this warning comes from?

It might actually make more sense to implement this in the class_loader library.

[2013-07-11 22:22] mirzashah commented on #14
@danepowell  The patch is very easy, but I kept running into some strange problem on my computer where ROS logging was no longer working, so I couldn't tell if the patch worked. I never had the chance to figure it out and put it on the back burner.

Essentially all that is required is use of the `__FILE__`macro to https://github.com/ros/pluginlib/blob/groovy-devel/include/pluginlib/class_list_macr

[2013-07-12 15:48] danepowell commented on #14
Thanks @mirzashah . I applied the fix, but in a bit of cosmic irony, I'm unable to say if it works. Because the fix is in a header file, I need to recompile the offending package to see if it tells me what the offending package is :)

I'll keep hunting or find another way of testing and report back.

[2013-07-12 16:58] mirzashah commented on #14
@danepowell - Unfortunately it's difficult to implement plugins in C/C++ without the use of macros due to the way the language works.

You can just write a simple program or even use the exisiting unit tests in pluginlib to test.

For the latter, to build and run the pluginlib unit tests:
catkin_make run_tests_pluginlib

Change the use of PLUGINLIB_EXPORT_CLASS in the test plugin to one ofthe depr

[2013-07-12 17:10] dirk-thomas commented on #14
Since class_loader is about to be released soon is there any chance we can land this helpful information before that?

[2013-07-12 20:16] danepowell commented on #14
I opened a pull request: https://github.com/ros/pluginlib/pull/16

(I'm not sure if there's a way to link it to this issue)

[2013-07-12 20:25] tfoote commented on #14
If you use hub to open the pull request you can but otherwise it's too difficult to be useful.

[2013-07-12 20:31] dirk-thomas commented on #14
@mirzashah Can you modify the macro in _class_loader_ in the same way as _pluginlib_? Than I will take over and release both packages later today.

[2013-07-12 20:43] mirzashah commented on #14
@dirk-thomas The problem specified only applies to pluginlib. The warning comes from using the deprecated macros PLUGINLIB_REGISTER_CLASS and PLUGINLIB_DECLARE_CLASS instead of the new PLUGINLIB_EXPORT_CLASS. class_loader has its own macro CLASS_LOADER_REGISTER_CLASS which is used in the implementation of the aforementioned pluginlib macros.

[2013-07-12 20:52] dirk-thomas commented on #14
Oh, okay, I misread the earlier conversation with all these long macro names.

Great, I will go ahead and release both packages soonish. Thanks.

[2013-07-14 08:41] dirk-thomas commented on #14
Released into Groovy as well as Hydro.

[2013-07-16 22:35] trainman419 commented on #14
This isn't working. I'm getting:

[code]

I'm fairly certain that the **FILE** macros don't work inside of a string constant.

[2013-07-16 22:37] ahendrix opened #17 "Provide a way to disable deprecation warnings."
I have a couple of classes where the exported plugin name cannot be equal to the class name.

https://github.com/PR2/pr2_ethercat_drivers/blob/hydro-devel/ethercat_hardware/src/wg014.cpp

The exported plugin is a driver for a specific model of device, and the exported name is the model number of the device. This means that the top-level node can find drivers for a particular device by querying the

[2013-07-16 22:43] dirk-thomas commented on #14
@mirzashah Please take a look and provide a modified patch to make it work. Then we need to re-release into Groovy and Hydro.

[2013-07-16 22:50] dirk-thomas commented on #17
You should just upgrade to the new macro as suggested in the deprecation warning.

If you take a look at the implementation of the deprecated macro `PLUGINLIB_DECLARE_CLASS` you will see that the additional arguments which are dropped from the signature of the replacement macro are not even passed on the to lower level _class_loader_ API.

[2013-07-17 01:00] mirzashah commented on #17
Yes, the XML file containing your plugin info is where the exported name is set -- previously this was set both in the XML file as well as the macro. This is now optional in pluginlib as of groovy.

[2013-07-17 01:01] mirzashah commented on #14
Fixed in ddfc5864fa5e6d0b41f6c5a0fab4aa71e863f207

[2013-07-17 01:01] #14 closed, assigned to nobody

[2013-07-17 01:03] #17 closed, assigned to nobody

[2013-07-29 20:26] wjwwood opened #18 "Use common FindTinyXML.cmake"
There is a new package called cmake_modules, which we just created:

https://github.com/ros/cmake_modules

It provides a common FindTinyXML.cmake CMake module, which we should all try to use in order to prevent issues when doing things like cross-compiling.

This is a low priority, but a good idea. The package is available for Hydro and Groovy, it will be in public on the next sync.

[2013-07-29 20:37] mirzashah commented on #18
Ah good idea...I was just looking at the CMakeLists.txt file for pluginlib and was wondering how tinyxml got in there without a find_package. I guess it's already in the default path on ubuntu so no need for find_package or include_directories functions, just link against "tinyxml".

[2013-08-19 21:25] danepowell opened #19 "Inheritance chains"
Should inheritance 'chains' be possible with plugins? i.e., Base Class > Derived Class 1 > Derived Class 2.

My problem: I want to build a plugin (rviz::OmniTool) that uses rviz::InteractionTool as a base. But rviz::InteractionTool is already derived from rviz::Tool. So the desired inheritance is rviz::Tool > rviz::InteractionTool > rviz::OmniTool.

The problem is that rviz::OmniTool doesn't show

[2013-08-20 07:15] mirzashah commented on #19
@danepowell Ah, this is an interesting question!

It's likely that rviz when loading plugins is looking for classes that have the interface rviz::Tool. Even though rviz::InteractionTool is an rviz::Tool, the plugin system does not know that unless you tell it explicitly through the PLUGINLIB_EXPORT_CLASS macro.  I'm betting the problem isn't you deriving from rviz::InteractionTool as it is with yo

[2013-08-20 15:49] danepowell commented on #19
Awesome! That did the trick. Maybe it's worth mentioning the multiple-PLUGINLIB_EXPORT_CLASS trick on the wiki page?

[2013-08-20 15:49] #19 closed, assigned to nobody

[2013-08-20 17:31] mirzashah commented on #19
Good idea, will do that now.

[2013-09-15 05:16] muratsevim opened #20 "Plugins cannot be loaded on debug builds"
If the workspace that contains the `pluginlib` and `class_loader` packages are compiled with `catkin_make -DCMAKE_BUILD_TYPE="Debug"` command, the plugins cannot be loaded.

For example trying to load `image_transport/raw_pub` plugin produces the following logs

[code]

I figured this is because the debug builds are linked against debug version of Poco library, which uses `d.dylib` suffix for shar

[2013-09-15 05:57] mirzashah commented on #20
@muratsevim your explanation makes sense, i don't have enough mac experience to give you a solution. however i know a super genius who does. @wjwwood - do you have any insights? :)

[2013-09-15 06:00] mirzashah commented on #20
@muratsevim can you not install the debug versions of the library via homebrew? if not, the only option i can think of is to build a debug version of poco

ooh another really gross solution would be to symlink the release versions with the debug library names. you won't be able to step the debugger into poco world, but should let you build debug versions of your own code.

is there a way to change

[2013-09-15 08:36] muratsevim commented on #20
Apparently `PocoConfig.cmake` file in `class_loader` chooses debug version of poco libraries if the build type is `Debug`. As a workaround I can modify it to always use the release versions. However, this does not feel like the right solution because when building for debugging it makes sense to use debug version of the linked libraries if they are available.

By the way, I think the issue is not

[2013-09-16 06:02] mirzashah commented on #20
Hmm interesting. I'm actually not sure what the conventions are myself on linux regarding debug versions of libraries. I'm not sure if it's convention to include debug versions of libraries in dev packages. I know on Windows it's  common to denote debug libraries with a "d" or "_d" suffix...but that doesn't help us here. It's very rare to have to debug a third party package so usually you don't ca

[2013-09-16 07:17] tfoote commented on #20
What I'm most familiar is that you build with debug and then strip the debug symbols out in the debian process to be packaged into *-dbg package.  Thus the library should work whether or not the debug symbols are present and gdb knows how to cross reference the dbg files.

And if you're building from source, you just compile the debug symbols into the libraries.

[2013-09-16 17:18] wjwwood commented on #20
I do not think it makes sense to have different names for debug and non-debug libraries, though it maybe the preference/style of Windows to do that (I don't know). It is not recommended on OS X as far as I know. I have not run into this issue on my machine, but I can try to reproduce it with a little more information.

@muratsevim can you setup a simple example (Set of packages to build with Debug

[2013-09-16 18:46] muratsevim commented on #20
I can produce this error with the following steps:

[code]

This will create a workspace with `pluginlib` and all required packages, then it will run the tests. You will see `PluginlibTest.workingPlugin` test fails.

Some notes:
- `console_bridge` is excluded from the workspace because it is installed as a system dependency on my system.
- You might need to add `target_link_libraries(test_plugins

[2013-09-17 05:20] mirzashah commented on #20
@wjwwood @tfoote What you guys are saying makes sense -- in that case I would recommend modifying the cmake package config file to use the same target names for debug and release libraries.

[2014-04-21 03:02] bit-pirate opened #23 "refreshDeclaredClasses() should update chache"
`refreshDeclaredClasses()` (http://docs.ros.org/hydro/api/pluginlib/html/class__loader__imp_8h_source.html#l00619) makes use of `ros::package` to find new plugins (see `getPluginXmlPaths`: http://docs.ros.org/hydro/api/pluginlib/html/class__loader__imp_8h_source.html#l00177). However, in the most cases newly available plugins are probably not yet in the cache. Hence `getPluginXmlPaths()` should us

[2014-04-21 03:02] bit-pirate commented on #23
This is relevant for https://github.com/ros/nodelet_core/issues/17 and https://github.com/robotics-in-concert/rocon_app_platform/issues/211.

[2014-04-30 07:37] wjwwood commented on #20
I just ran into this again. On my machine, when `class_loader` and `pluginlib` are built with build type Debug, my `rviz` cannot locate plugins:

[code]

As you can see it is looking for `/tmp/rviz_ws/src/rviz/libdefault_plugind.dylib` which has an extra `d` before the `.dylib`. The file `/tmp/rviz_ws/src/rviz/libdefault_plugin.dylib` exists on my machine.

This appears to be because of how `class

[2014-04-30 10:22] esteve commented on #20
@wjwwood Sure, no problem.

[2014-05-02 16:46] #23 closed, assigned to dirk-thomas

[2014-05-08 15:44] #20 closed, assigned to esteve

[2014-05-08 17:37] #18 closed, assigned to nobody

[2014-05-08 21:40] tfoote opened #27 "indigo_devel is on the same minor patch as groovy/hydro but has diverged"
From https://github.com/ros/rosdistro/pull/4192 It looks like this should have been a 1.10 release.

[2014-05-08 22:00] tfoote commented on #27
Since this is blocking the indigo farm I'm rereleasing now at 1.10.0 https://github.com/ros/rosdistro/pull/4195

Note in the future the groovy/hydro branch should skip the 1.9.25 as it's been already released.

[2014-05-08 22:00] #27 closed, assigned to nobody

[2014-05-27 17:21] #12 closed, assigned to esteve

[2014-06-10 14:58] dirk-thomas opened #29 "fails to configure without gtest"
See http://answers.ros.org/question/173255/compiling-ros-to-virtual-nao/
After calling `catkin_add_gtest` the target can only be used if it actually exists since when the user does not have gtest no target is created.

[2014-06-10 14:59] esteve commented on #29
Thanks!

[2014-06-10 15:22] esteve commented on #29
That's weird, gtest is both a build and run-time dependency for catkin

[2014-06-10 16:39] dirk-thomas commented on #29
There are numerous reasons why this can be the case:
- gtest removed after catkin pcakage was installed
- gtest not installed in the first place (on platforms different then Debian)
- ...

So the CMake code should handle this more graceful.

[2014-06-10 16:41] vrabaud commented on #29
the weird thing is those instructions worked for us: really, maybe gtest is not part of that VM

[2014-06-11 10:27] vrabaud commented on #29
According to the question, gtest was simply not installed. Not sure if you want to close that bug.

[2014-06-11 11:11] esteve commented on #29
I've been trying to get ROS installed onto the OpenNAO VM. I updated the wiki with some fixes, but I couldn't get past the rosdep step. Are there any more up to date instructions somewhere? In any case, I'm going add a check for gtest in CMakeLists.txt and skip the test if it's missing, and close this ticket.

[2014-06-11 11:27] #29 closed, assigned to esteve

[2014-09-17 18:25] bricerebsamen commented on #12
not fixed in hydro

[2015-03-04 01:24] esteve commented on #7
This seems to be fixed, selecting a ROS distro shows the appropiate plugin.xml file.

[2015-03-04 01:24] #7 closed, assigned to nobody

[2015-05-16 17:44] filipmrc opened #30 "Calling function from wrong derived class after loading from pluginlib"
Programming is not really my strong suit and I really have no idea what went wrong here:

pkg_1::derived_1:
base_class: pkg_2::derived_2
         init(a,b,c);
         getAllIK(a,b,c);

pkg_2::derived_2:
base_class: pkg_3::base
         init(a,b,c);
         getAllIK(a,b,c);
         ... a couple more

pkg_3::base:
        init(a,b,c);
        getAllIK(a,b,c);
        ... a couple more

//other_co

[2015-05-16 18:00] tfoote commented on #30
Please ask questions on http://answers.ros.org and when you do please provide a reproducible example so we know exactly what you're doing and what you're expecting. Guidelines for asking questions can be found at: http://wiki.ros.org/Support

[2015-05-16 18:00] #30 closed, assigned to nobody

[2015-08-12 23:52] dirk-thomas opened #31 "failing unit test"
http://jenkins.ros.org/job/devel-indigo-pluginlib/11/
http://jenkins.ros.org/job/devel-jade-pluginlib/3/

[2015-10-20 10:55] mpkuse opened #32 "Problem with installation of ROS from source."
pluginlib fails to install as I try to install ROS (Hydro) from source code on my Ubuntu 12.04.
I followed this article to install ros from source. http://wiki.ros.org/Installation/Source

 make -j8 -l8 in '/home/eeuser/installation_ros_src_ws/build_isolated/pluginlib'
Linking CXX executable /home/eeuser/installation_ros_src_ws/devel_isolated/pluginlib/lib/pluginlib/plugin_tool
/home/eeuser/instal

[2015-12-09 20:34] #31 closed, assigned to esteve

[2016-01-22 08:45] lepalom opened #36 "Location to install a plugin managed by pluginlib"
As the definition of the package says: "pluginlib is a C++ library for loading and unloading plugins from within a ROS package". The implementation of that is that every plugin is build as a shared library.

In the case that ROS was installed in /usr to follow FHS instead that /opt/ros/$distro/lib, a ros installation with multiple packages providing plugins the /usr/lib/\* (or /usr/lib/$arch/*) di

[2016-04-03 06:33] rhaschke opened #38 "enabling on-demand loading/unloading fails"
To fix #37, I tried to enable on-demand loading/unloading. However, now classes cannot be instantiated:

[code]

[2016-04-03 16:16] rhaschke commented on #38
Will be fixed with #39.

[2016-04-03 16:16] #38 closed, assigned to nobody

[2016-09-25 21:15] davetcoleman opened #43 "Pluginlib 1.10.4 not released?"
The latest shadow-fixed Kinetic Xenial release is still using pluginlib 1.10.3, even though there was just a sync and bloom says it should be [1.10.4](https://github.com/ros/rosdistro/blob/master/kinetic/distribution.yaml#L3167) - why is that? I confirmed this both in Docker containers and locally. The Travis build cannot pass until the latest plugin lib is available.

[2016-09-25 22:41] tfoote commented on #43
There's a major rebuilds going on at the moment. Once the rebuild is complete it will sync to shadow-fixed.

[1.10.4 is in building](http://repositories.ros.org/status_page/ros_kinetic_default.html?q=pluginlib) at the moment.

There's some 2000+ jobs in the queue still down from 5k. http://build.ros.org:8080/view/Queue/ This is a big rebuild with a patch to catkin. We're scaled up to 24 executors

[2016-09-25 22:41] #43 closed, assigned to nobody

[2016-09-25 23:33] davetcoleman commented on #43
Ah I hadn't considered build farm lag, thanks for the explanation!

[2016-10-03 18:29] Jmeyer1292 opened #44 "Thread Safety Issues"
I want to open with a thank you to the maintainers of these core packages. I hope I'm not too obnoxious in my questioning.

I have recently written an application that crunches numbers in a distributed fashion and uses ROS plugins to help do some of that work. I am running into issues that appear to be related to the threading I'm doing. Specifically, I am:
- spawning **I** threads
- each thread t

[2016-10-04 23:19] jrgnicho commented on #44
@Jmeyer1292 I ran your example and indeed it kept throwing **CreateClassException** exceptions almost every time.  Adding a mutex at the beginning of the `loadPlugin` function fixed it but it took 8.5 seconds  on average for all the experiments to complete with 200 threads and 200 plugins for each.

[2016-10-05 15:34] Jmeyer1292 commented on #44
@jrgnicho @mikaelarguedas

I think I've tracked down _an_ issue that could be partially responsible for the issues I am seeing. It involves a logical & data race condition in _class_loader core's_ underlying `loadLibrary` function [here](https://github.com/ros/class_loader/blob/indigo-devel/src/class_loader_core.cpp#L415).

I'll open up a discussion over there to further that point.

Pluginlib als

[2016-10-05 16:17] jrgnicho commented on #44
@Jmeyer1292 I can see how the logic in the `loadLibrary` function could allow for race conditions.  Perhaps the appropriate fix is to move the [mutex locking line ](https://github.com/ros/class_loader/blob/indigo-devel/src/class_loader_core.cpp#L432) to the beginning of the function.  Thanks for looking into this.

[2016-10-17 14:10] v4hn opened #45 "release createUniqueInstance into indigo"
@mikaelarguedas mentioned in https://github.com/ros/pluginlib/pull/42#issuecomment-248457801 that the new `createUniqueInstance` interface will be released into indigo and jade too.

It would be great to see this happen in the near future!
MoveIt's main development branch (`kinetic-devel`) requires this feature.
In order to use the branch with ROS indigo, currently one has to overlay the /opt/ros/

[2016-10-18 17:03] mikaelarguedas commented on #44
this should be fixed by https://github.com/ros/class_loader/issues/40.
Closing this for now. Feel free to reopen it if there are some corner cases where the crash still happens

[2016-10-18 17:03] #44 closed, assigned to nobody

[2016-10-21 13:50] MustafaDaoud opened #46 "Error loading RosBridge"
Hi,
I am trying to install the package in ROS indigo and VREP3_3_2
when I run VREP, It cann't load the RosBridge

Plugin 'RosBridge': loading...
[rospack] Error: package 'vrep_ros_plugin' not found
[librospack]: error while executing command
terminate called after throwing an instance of 'pluginlib::ClassLoaderException'
  what():  Unable to find package: vrep_ros_plugin
Aborted (core dumped)

[2016-10-21 21:33] tfoote commented on #46
Please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

[2016-10-21 21:33] #46 closed, assigned to nobody

[2016-10-30 19:39] mikaelarguedas commented on #45
Closing this now that the `createUniqueInstance` interface has been released into [Jade](http://repositories.ros.org/status_page/ros_jade_default.html?q=pluginlib) and [Indigo](http://repositories.ros.org/status_page/ros_indigo_default.html?q=pluginlib). It's currently in the testing repo (shadow-fixed) and will be available in the main repo after the next sync.

[2016-10-30 19:39] #45 closed, assigned to nobody

[2016-10-31 09:27] v4hn commented on #45
Awsome, thanks!

[2017-02-14 17:55] mikaelarguedas commented on #32
Hydro being EOL since before this thicket was open I'll close this.
@mpkuse If you encounter this issue for any currently supported ROS distributions, feel free to open another ticket

[2017-02-14 17:55] #32 closed, assigned to nobody

[2017-04-16 11:05] terakoji opened #48 "getClassLibraryPath() returns abnormal path lists when popen failed with ENOMEM."
Hi.
I found this problem when debugging image_transport library.

To get library path, pluginlib uses popen("catkin_pkg --libs", "r") .
Sometimes popen failes memory is not enough.
On such situation, pluginlib returns incompletion lib paths without any error report.

I think there are 2 solutions for this problem.
1. throwing exception when popen returns error.
2. instead of popen uses native api.

[2017-04-16 13:00] terakoji commented on #48
I think the same problem below.

https://github.com/code-iai/iai_kinect2/issues/299

[2017-04-16 13:15] terakoji commented on #48
I made a github project that reproduce this problem.

https://github.com/terakoji/test_pluginlib

This generates a following image_transport error in spite of the path for pluginlib is correct.

[code]

[2017-05-17 08:54] xuefengchang opened #50 "how to load multi-library"
I am trying to use ros::pluginlib to load a plugin called A_Plugin which has been registered to ROS Package System correctly. One thing to note is that A_Plugin depends on Opensplice DDS, and it need to link the DDS libraries "libddskernel.so" ,"libdcpsisocpp.so". In CmakeLists.txt file, I write like this:
add_library(A_Plugin
  src/aplugin.cpp
)
target_link_libraries(A_Plugin
  $ENV{OSPL_HOME}/li

[2017-05-18 18:52] jlack1987 opened #51 "Provide support for std::shared_ptr"
I feel like somebody must have asked this already, but I was unable to find the issue if they have, so i'll ask. Are there any plans to phase out the `boost::shared_ptr` in favor of `std::shared_ptr`?

[2017-05-18 19:05] tfoote commented on #51
This cannot be done until development is only targeting C++11 minimum targets: http://www.ros.org/reps/rep-0003.html  Since boost is a integral part of the ROS1 API it's quite likely that for stability we will not significantly change this API.

In ROS2 we have switched to use C++11 instead of boost for core APIs.

[2017-05-23 02:18] #50 closed, assigned to nobody

[2017-05-23 02:19] xuefengchang commented on #50
The problem is caused by the wrong lib-name.

[2017-05-25 00:41] mikaelarguedas commented on #51
As @tfoote mentioned, it's unlikely that the core of ROS1 will get rid of boost given that it'll break API for most of the ROS packages. I'll thus mark this as wontfix

[2017-06-27 18:57] jlack1987 opened #53 "Load plugin where base class exists in another project"
I'm having some trouble loading a plugin and decided to open an issue to see if it's even possible. I am creating `package_B` where i'm creating a class that implements a plugin base class that exists in `package_A`.

Also, somewhere in `package_A`, they call `loader->createInstance(plugin_type)`. When plugin_type equals the plugin i've created in `package_B`, it fails saying the plugin doesn't ex

[2017-06-27 19:02] dirk-thomas commented on #53
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2017-06-27 19:02] #53 closed, assigned to nobody

[2017-07-25 18:17] mikaelarguedas opened #56 "indigo release 1.10.6"
need https://github.com/ros-visualization/qt_gui_core/pull/96 and https://github.com/ros-visualization/qt_gui_core/pull/97 to be integrated to the `groovy-devel` branch and released before releasing pluginlib

[2017-07-27 02:23] #48 closed, assigned to nobody

[2017-07-27 02:32] mikaelarguedas commented on #56
This can be closed given that pluginlib will switch to tinyxml2 only for kinetic and later

[2017-07-27 02:32] #56 closed, assigned to nobody

[2017-09-29 19:19] wjwwood commented on #36
I'm about to do some work on pluginlib in preparation for using it in ROS 1 and ROS 2 at the same time, and I wanted to take the time to respond to this issue. Sorry no one has given feedback until now.

----

I would be happy for pluginlib to support this case and maybe even recommend it, but I do not believe this is something pluginlib should enforce. It would be convenient for organizational pu

[2017-10-16 22:24] mikaelarguedas opened #71 "Backport #70 to kinetic-devel"
The deprecation warnings should be removed though

[2017-10-26 04:44] mikaelarguedas opened #76 "port #75 to new headers on melodic-devel"

[2017-10-27 22:44] mikaelarguedas commented on #76
addressed by https://github.com/ros/pluginlib/pull/77

[2017-10-27 22:44] #76 closed, assigned to nobody

[2017-10-30 21:11] mikepurvis opened #81 "Depend on libconsole-bridge-dev instead of rosconsole?"
We desire to introduce `pluginlib` as a dependency for packages inside `ros_comm` without creating a repo-level circular dependency, which would presently be the case on account of `rosconsole` being inside `ros_comm` (see https://github.com/ros/ros_comm/pull/1206).

An obvious solution is to extract `rosconsole` into its own repo, but I wonder about breaking the dependency on this end, too. Exclu

[2017-10-30 21:32] dirk-thomas commented on #81
Not sure if that effects the decision / implementation. One question will be where `REGISTER_ROSCONSOLE_BRIDGE` will be called than to ensure that the messages are being delivered to e.g.  `/rosout`.

[2017-10-31 14:12] mikepurvis commented on #81
Interesting— yeah, not having an actual TU to put that in does muddy the waters a bit. However, given the context here, perhaps it would be reasonable to just do it once as a heap-allocated thing when the first ClassLoader is initialized. Anyway, would have to play with it a bit.

[2017-11-08 22:58] #71 closed, assigned to mikaelarguedas

[2017-11-13 06:48] echotor opened #86 "The node with pluginlib can not run in custom boost situation"
The thing is like this:

I compile the boost of version 1.65 into my computer. And I build a package with pluginlib in it. I compile it over. But when I run the node, it will result in a segment fault. Like this:

[code]

So the problem is segment fault.
When I remove the path /usr/local/include/boost and /usr/local/lib/libboost* and recompile the package and the error is gone.

So I check the ver

[2017-11-13 07:44] mikaelarguedas commented on #86
Hi @echotor , thanks for the report,

Could you provide a backtrace ? the current error "malloc.c: No such file or directory." doesnt provide much information as of where the program is crashing.

While I haven't tried boost 1.65, the version of pluginlib on the kinetic-devel works with boost 1.62 as it is the one used by most platforms in ROS Lunar. If there is anything to modify to work with 1.6

[2018-01-30 07:45] mikaelarguedas commented on #51
@jlack1987 as the next version of ROS ([Melodic](https://github.com/ros-infrastructure/rep/pull/139/files#diff-41ae062315c36c45afaa5c192b2ca7c5R379)) will allow the use of c++14 types/features in ROS packages even in desktop-full, this is something that we can reconsider.

This will need to be additional API and keep providing the existing boost API to not break downstream packages consuming the e

[2018-03-13 10:27] Martin-Idel-SI opened #102 "ROS 2: erase superfluous semicolon"
Concerning the ROS2 branch

I have a problem when compiling object files using the pluginlib, when I get the following error:
`/include/pluginlib/class_list_macros.hpp:49:59: error: extra ‘;’ [-Werror=pedantic]
   CLASS_LOADER_REGISTER_CLASS(class_type, base_class_type);`

It's claiming that one should remove the last ";" in this line:
https://github.com/ros/pluginlib/blob/b456beba88564b746694dde6

[2018-03-13 16:35] mikaelarguedas commented on #102
Thanks @Martin-Idel-SI for pointing it out. #103 should address the issue

[2018-03-13 20:25] mikaelarguedas commented on #102
Fixed in #103
Closing this manually as github doesn't seem to close linked issues automatically today

[2018-03-13 20:25] #102 closed, assigned to mikaelarguedas

[2018-04-02 22:58] dirk-thomas opened #109 "New compiler warning"
As mentioned in ros-visualization/qt_gui_core#114.

E.g. http://build.ros.org/job/Mpr__qt_gui_core__ubuntu_bionic_amd64/1/warnings22Result/

[2018-04-03 01:31] mikaelarguedas commented on #109
It's unclear to me why this shows up on this package. This function should be called transitively by createInstance.
<details>

Call stack being:
[code]
</details>

I built the melodic version of class_loader, pluginlib, qt_gui_core and rqt_gui with [this additional print](https://github.com/ros/pluginlib/commit/038ae467d57e0bb0e7e0cf1e139b0c0cf9fc602a)

Debug output of `rosrun rqt_gui rqt_gui`:
[

[2018-04-04 20:56] dirk-thomas commented on #109
Same here - I don't see any differences.

I would suggest to just move the code from the anonymous `catkinFindLib` function into the only function calling it, namely `getCatkinLibraryPaths`. That gets rid of the warning.

(I don't know why the anonymous function was created in the first place in #49 though.)

[2018-04-13 19:42] dirk-thomas commented on #109
@mikaelarguedas How about my proposal from the previous comment?

[2018-04-13 19:46] mikaelarguedas commented on #109
Yes I had the same idea, originally :+1: , as the function is private I think that's fine to not have it in its' own private namespace. I wanted to have a simple reproducible example to submit to GCC before removing it because that should be reported upstream.

[2018-04-15 08:33] #109 closed, assigned to mikaelarguedas

[2018-04-27 17:19] mikaelarguedas commented on #81
My preference here is to wait for `ros_comm` to be split in multiple repositories. Then pluginlib can be used in various tools without removing the ability for pluginlib users to use rosconsole features.

[2018-05-31 09:31] knorth55 opened #117 "Release request of 1.11.4 in Kinetic"
Related to https://github.com/jsk-ros-pkg/jsk_recognition/issues/2298 and https://github.com/ros-planning/moveit/pull/827#issuecomment-393472203

Moveit `0.9.12` requires the commit https://github.com/ros/pluginlib/commit/84b0c46be4c3f47cf995998db517cfa4700b1514, which have not been released yet.
I request to release `0.9.13` in `Kinetic`, too.

[2018-05-31 09:44] knorth55 commented on #117
Sorry, I misunderstood the issue.

[2018-05-31 09:44] #117 closed, assigned to nobody

[2018-07-16 19:59] IanTheEngineer opened #119 "Class Loader prints DEBUG level log then throws"
Right I'm debugging an issue in ROS Kinetic where pluginlib is failing to find/load my plugins. If it turns out to be an issue that could affect other users, I'll create an Issue/PR for it.

In the mean time, I've encountered a more direct issue: I am not seeing much output when the pluginlib fails to load a class. In particular, after setting ROS_LOGGER level to DEBUG, I ran into [this DEBUG outp

[2018-08-22 17:52] Karsten1987 opened #126 "[ros2] memory not cleaned up (memory leak?)"
We've encountered that there is a junk of memory per loaded plugin not cleaned up.
When running a [minimal example](https://github.com/bsinno/rosbag2/tree/pluginlib_leak_example) with valgrind, we see the following output:

[code]
The original issue to this: https://github.com/ros2/rosbag2/issues/23

fyi @Martin-Idel-SI

[2018-09-11 00:38] mikaelarguedas commented on #126
@Martin-Idel-SI @Karsten1987 Is this only happening on shutdown ?
Or can you reproduce N * bytes leaked by loading and unloading the plugin N times ?

[2018-09-11 07:57] mayman99 opened #127 "Load a class and pass arguments to the constructor [Question]"
I've an architecture where I've the `plugins` has to have arguments passed to its constructors,

sth like this ` AuthorPlugin::AuthorPlugin(QWidget* parent) : SetupAssistantWidget(parent)` and the `SetupAssistantWidget` is the interface, is there a way to do that with `pluginlib`?

[2018-09-11 15:56] Martin-Idel-SI commented on #126
@mikaelarguedas No, it seems to only happen at shutdown.

Taking the example, I just duplicated the lines loading the plugin (here: https://github.com/bsinno/rosbag2/blob/8f1e7137e0e3dee13e9dc6b38213bfc3b62add3b/minimaldll/main.cpp#L26-30) and I still only see the one leak with the same amount of leaked memory

[2018-09-11 15:58] mikaelarguedas commented on #126
Thanks @Martin-Idel-SI for confirming

I suspect this is an optimization from Poco then, that knows the process is shutting down and there is no need to cleanup everything. I don't think there is much we can do on our side if that's the case

[2018-09-11 15:59] Karsten1987 commented on #126
what's happening if you put this line in a loop (let's say 10x) and load and unload the plugin everytime?

[2018-09-14 15:52] mikaelarguedas commented on #126
@Martin-Idel-SI can you check if https://github.com/ros/class_loader/pull/103 fixes the issue ?

[2018-09-14 16:51] mikaelarguedas commented on #127
It is currently not possible to pass constructor arguments to plugins loaded by pluginlib (this is a restriction of `class_loader` the mechanism used for loading and instanciating the classes)

[2018-09-14 17:06] mikaelarguedas commented on #119
thanks @IanTheEngineer for reporting (and the patience).
It looks like pluginlib is printing only debug messages when throwing.
There isn't much context about why these are logged with a DEBUG severity rather than ERROR in the [commit introducing them](https://github.com/ros/pluginlib/commit/dca612adad2aa0a4d7acfdcaa31b65409d7b8ea7). I would expect that it is for users to be able to catch such exc

[2018-09-14 17:10] mikaelarguedas commented on #86
Closing due to no response.

@echotor FYI pluginlib has been released in ROS Melodic that uses boost 1.65.1, you can check the code on the melodic-devel branch and check if this is still an issue for you. If yes feel free to comment here and this issue can be reopened

[2018-09-14 17:10] #86 closed, assigned to nobody

[2018-09-17 23:27] Karsten1987 commented on #126
valgrind still reports lost bytes with the minimal example.
I believe it's less than before though.

[2018-09-18 00:13] mikaelarguedas commented on #126
Thanks @Karsten1987 for trying it!
Can you post the report when you get a chance to compare to the one in the issue description?

[2018-09-18 17:52] Karsten1987 commented on #126
Sorry, should have mentioned it!

[code]

[2018-12-05 19:06] davetcoleman opened #133 "Boilerplate Example for ROS2"
Is there a simple boilerplate example of creating and using pluginlib in ROS2? I think this would help everyone in various ROS2 migrations. I know MoveIt! is full of pluginlib usage and we need more documentation on how to use it around ament.

[2018-12-20 01:13] brawner opened #136 "ROS2 on Windows, #warning is not recognized by VS"
In this deprecated header: https://github.com/ros/pluginlib/blob/9b319f1440a7153d6edf68067093449ff7b14201/pluginlib/include/pluginlib/class_list_macros.h#L36

Possible solutions:

- Use ```#pragma message("...")```
- Surround ```#warning``` checking for compiler
- Remove the deprecated header and break things

More discussion about solutions
https://stackoverflow.com/questions/2685598/warning-in-v

[2019-01-11 19:24] kejxu opened #139 "Why keep both .h and .hpp headers at the same time?"
Asking out of curiosity, why are we keeping both `.h` and `.hpp` header files at the same time?

[2019-02-05 01:54] 2ros0 opened #143 "plugin_tool linking error"
System information: 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux

Building ROS Lunar from source as directed here: http://wiki.ros.org/Installation/Source. At the step `./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release`, during compilation of `pluginlib`, the executable `plugin_tool` fails at the linking step with the following error:

[2019-02-05 17:37] 2ros0 commented on #143
Seems this is more of a problem upstream and not within pluginlib. Possible error with boost version.

[2019-02-05 20:14] nuclearsandwich commented on #139
The headers were renamed in #70 with the intent do deprecate the `.h` headers and introduce a C API for ROS 2 in the future.

#115 removes the deprecation warning based on feedback received in https://github.com/ros/pluginlib/pull/70#issuecomment-379435585

When N-turtle comes around we'll have to determine if the warning should be reintroduced.

If this answers your question feel free to close th

[2019-02-05 20:55] #139 closed, assigned to nuclearsandwich

[2019-02-05 21:08] nuclearsandwich commented on #143
Continuing the discussion in https://github.com/ros/rosdistro/issues/20184.

[2019-02-06 16:56] #143 closed, assigned to nuclearsandwich

[2019-03-26 14:50] AnticliMaxtic opened #147 "pluginlib fails to build using clang compiler"
This issue was originally reported here  [pluginlib fails to build using clang compiler #678](https://github.com/ros2/ros2/issues/678) on https://github.com/ros2/ros2 where it was suggested that I post the issue to this repository

## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - release-latest bbf4dd1371df02b3f44

[2019-03-27 14:44] pbeeson commented on #147
This essentially breaks the ROS2 build for clang, rendering the ROS2 Install documentation, which claims support for clang, out of date.

[2019-03-27 15:33] mjcarroll commented on #147
The issue is that the CMake logic introduced to pluginlib to handle Clang compatibility has not been backported to Crystal.  In the meantime, you can use the `ros2` branch, which compiles successfully using clang-6.0.

[2019-03-27 16:46] emersonknapp commented on #147
This was fixed in https://github.com/ros/pluginlib/commit/cc6af504b3bcd827ef84536c13ea7c1c678fc4e6

[2019-03-27 16:48] mjcarroll commented on #147
@emersonknapp that's correct for `master/ros2.repos` (which uses the `ros2` branch from here). The issue is that `release-latest` (which uses branch`crystal`) is being used in the above example.

[2019-03-27 16:51] emersonknapp commented on #147
Yeah, I just wanted to point out the exact commit.

My commit https://github.com/ros/pluginlib/commit/3bbc242f1cbdeb9a51375fb8941deb386dbf9f2f after that fixes the build for clang+libcxx, but is not necessary to support Clang on its own

[2019-03-27 16:56] pbeeson commented on #147
Thanks for the quick response.  This got us past our block with pluginlib.

[2019-03-28 16:11] AnticliMaxtic commented on #147
Thanks @emersonknapp  and @mjcarroll , this unblocks me as well. This is still an issue since as @pbeeson  mentioned this breaks the install documentation for clang using the current release-latest tag

[2019-03-28 16:37] mjcarroll commented on #147
Thanks all, I'm going to update the docs to reflect that compiling with Clang on Ubuntu is only possible Dashing forward.

[2019-03-28 16:37] #147 closed, assigned to nobody

[2019-04-22 18:46] mrnobody1313 opened #151 "Costmap Constructor fails to load plugin"
I have two packages that I define my plugins in them, costmap_2d, and my_costmap. Plugin files in my_costmap package are  as below

my_costmap_plugins.xml:

    <library path="lib/libmy_costmap_layer">
      <class type="my_costmap::ProbabilisticLayer"  base_class_type="costmap_2d::Layer">
        <description>Listens to ...</description>
      </class>
      <class type="my_costmap::SpecifiedCost

[2019-05-11 15:41] bionade24 opened #155 "ament_cmake needed in melodic?"
ROS-melodic, latest releases of all packages:
[code]
Similar issues: https://github.com/ros/class_loader/issues/125
                        https://github.com/ros/ros_environment/issues/15

[2019-05-14 20:49] #155 closed, assigned to nobody

[2019-07-08 18:22] danielwangksu opened #156 "Coverity - Event unimplemented null return"
Event unimplemented_null_return: | Assuming unimplemented function "Value" may return a null value.
Event dereference: | Dereferencing a pointer that might be "nullptr" "config->Value()" when calling "strcmp".
https://github.com/ros/pluginlib/blob/54c925eebf8fd8db0c5e7e9ea18cba1d32402909/pluginlib/include/pluginlib/class_loader_imp.hpp#L653

[2019-07-08 18:23] danielwangksu opened #157 "Coverity - event unimplemented null return"
Event unimplemented_null_return: | Assuming unimplemented function "GetText" may return a null value.
Event dereference: | Dereferencing a pointer that might be "nullptr" "package_name_node->GetText()" when calling "basic_string". [Note: The source code implementation of the function has been overridden by a builtin model.]
https://github.com/ros/pluginlib/blob/54c925eebf8fd8db0c5e7e9ea18cba1d3240

[2019-07-09 19:29] artivis commented on #156
This might be a false alarm since the pointer is check for [`NULL`  right above](https://github.com/ros/pluginlib/blob/54c925eebf8fd8db0c5e7e9ea18cba1d32402909/pluginlib/include/pluginlib/class_loader_imp.hpp#L647) and seems to be owned by the function.
Or else it expects some particular pattern ?
[code]

[2019-07-09 19:35] artivis commented on #156
From this [tinyxml2 online doc](https://leethomason.github.io/tinyxml2/classtinyxml2_1_1_x_m_l_node.html#a66344989a4b436155bcda72bd6b07b82)
[code]
Thus it is not a false alarm.
[code]

[2019-07-10 20:53] danielwangksu opened #160 "unimplemented null return in class_loader_imp.hpp"
tinyxml2::XMLElement Attribute() may return NULL if none exists
https://github.com/ros/pluginlib/blob/54c925eebf8fd8db0c5e7e9ea18cba1d32402909/pluginlib/include/pluginlib/class_loader_imp.hpp#L668-L669

[2019-07-22 18:50] schornakj opened #161 "[ROS2] Loading plugins from a non-ROS package"
In ROS 1, the paths to all packages used in the project workspace are added to the `ROS_PACKAGE_PATH` environment variable, including pure CMake packages. This allows pluginlib to find libraries defined in non-ROS libraries, since the [ROS 1 implementation of ClassLoader uses `ros::package::path()`](https://github.com/ros/pluginlib/blob/54c925eebf8fd8db0c5e7e9ea18cba1d32402909/pluginlib/include/pl

[2019-07-23 15:11] schornakj commented on #161
A slightly messy workaround is to manually append the non-ROS package containing the libraries I want to load to the `AMENT_PREFIX_PATH` environment variable, since [`ament_index_cpp::get_resource()`](https://github.com/ament/ament_index/blob/0dba2f42c7f9b18a676c96d5643f26d5213513dd/ament_index_cpp/src/get_resource.cpp#L28) uses this variable to populate its search paths (via [`ament_index_cpp::ge

[2019-10-22 19:00] SteveMacenski commented on #133
@davetcoleman I know this is ancient and you've probably figured it out by now, but here's some examples from navigation2 I've made

https://github.com/ros-planning/navigation2/tree/master/nav2_navfn_planner

That is a planning plugin, see Cmakelists for the magic you need for that, otherwise it looks more or less as you'd expect in ROS1.

https://github.com/ros-planning/navigation2/blob/master/na

[2019-10-22 20:41] ruffsl commented on #133
You can also take a look at pluginlib usage in rosbag2, like the storage or converter plugin setup:
* https://github.com/ros2/rosbag2/tree/master/rosbag2_storage_default_plugins
* https://github.com/ros2/rosbag2/tree/master/rosbag2_converter_default_plugins

[2019-10-27 16:43] vmatare opened #167 "getCatkinLibraryPaths() is hardcoded to $CATKIN_PREFIX_PATH/lib"
https://github.com/ros/pluginlib/blob/54c925eebf8fd8db0c5e7e9ea18cba1d32402909/pluginlib/include/pluginlib/class_loader_imp.hpp#L313

That's not a portable way of determining the catkin library path. You cannot rely on `lib` being a correct default on all systems. At least on 64-bit systems, `lib64` should be tried first. You could simply check whether the compiler is building in 64 or 32 bit mode

[2019-10-31 09:11] nuclearsandwich opened #168 "Errors building with XCode 11 on Mojave"
Installing XCode from the app store currently brings XCode 11. However there is a long list of errors when building pluginlib with it on macOS Mojave. It's unclear from the error text whether upgrading to macOS 10.15 before using XCode 11 will be sufficient to resolve the issue and I don't have any Catalina machines to try on.

stderr log from a test build: https://gist.github.com/nuclearsandwich/

[2019-12-04 13:55] cjsJack opened #170 "windwos ros2-eloquent-debug std::regex re(regex) running error"
Hi, I am using ros2-eloquent-debug in windows, using visual studio 2015,
and I am building `image_common` package from [https://github.com/ros-perception/image_common](url) ,  and when I run `list_transport` project of `image_common` package, it failed when running `list_transports.exe`
So, I debug and find the reason is from `pluginlib` package from [https://github.com/ros/pluginlib](url)  ,there

[2019-12-04 16:34] dirk-thomas commented on #170
ROS 2 Eloquent officially only supports Visual Studio 2019 (see https://index.ros.org/doc/ros2/Releases/Release-Eloquent-Elusor/).

~~The C++ compiler in VS 2015 might just be too old to understand the used syntax. Therefore I will go ahead and close this ticket.~~

[2019-12-04 16:39] dirk-thomas commented on #170
Reopening - I missed that you are describing a runtime error in the regex and that you see the same problem with VS 2019.

[2019-12-05 12:55] cjsJack commented on #170
I try run the same project list_transports.exe in ros2-dashing-debug of
windows, finally, it also run error.
 And also I debug, find problem is same, because of std::regex re("\\"),
My team have a project, and the project has the same problem like running list_transports.exe, will appear running error because of  std::regex re("\\").
 If you have some solution, please give me some advice
  Thanks

[2020-01-13 17:32] caioaamaral commented on #51
Any updates about it? I saw that other packages (aka ros-controls/ros_controllers) has started shared pointers migration to std.

[2020-01-31 11:04] IffatJamil opened #172 "Rospack not detecting my Plugin"
The Rospack is not showing my custom plugin. I did add dependencies on nav_core i.e;
<build_depend>nav_core</build_depend>
<run_depend>nav_core</run_depend>
but it still didn't resolve the issue, still Rospack is unable to show my custom plugin.

[2020-01-31 15:14] dirk-thomas commented on #172
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2020-01-31 15:14] #172 closed, assigned to nobody

[2020-02-03 02:23] caioaamaral commented on #127
you could initialize `Qwidget parent` inside `SetupAssistantWidget` by creating some initialize function that receives a Qwidget* as param. You could even override this function from your plugin implementation:

`AuthorPlugin::initialize(QWidget* parent) override;`

And then calling it just after default constructor of your plugin:

[code]

[2020-02-14 19:51] #156 closed, assigned to nobody

[2020-02-14 19:51] #157 closed, assigned to nobody

[2020-02-14 19:51] #160 closed, assigned to nobody

[2020-03-07 08:03] sweetquiet opened #178 "There will be two "/" in the path"
hi. After writing the plug, there is no problem in compiling. You can also use rospack to detect custom plug-ins. After running, it will report an error that the plug-in library cannot be found.  There will be two "/" in the path. For example, catkin_ws / devel /lib/ /libtrack.lib is cmakelists.txt wrong?

[2020-03-09 07:48] #178 closed, assigned to nobody

[2020-03-21 15:58] dirk-thomas opened #180 "fails to build on Focal with clang/libcxx"
See https://ci.ros2.org/view/nightly/job/nightly_linux_clang_libcxx/358/consoleFull#console-section-208

[2020-03-22 00:20] rotu commented on #180
Confirmed locally:
[code]

[2020-03-31 12:44] nuclearsandwich commented on #180
Resolved by #183, which had much in common with the proposed fix in #181.

[2020-03-31 12:44] #180 closed, assigned to nobody

[2020-05-05 17:45] Karsten1987 opened #191 "[ros2] tinyxml2_vendor not in export set"
When trying to export targets which depend on pluginlib, CMake complains that `tinyxml2_vendor` is not part of any export set.
I've seen this independent from each other within rosbag2 and image_transport.

[code]

Does it make sense to export the vendor package in the first place? I mean, it makes sense for pluginlib to use the vendor package to link correctly to `tinyxml2`, but I am not seeing a

[2020-05-14 08:23] norro opened #194 "[ros2] Cannot specify link libraries for target "tinyxml2_vendor""
In my downstream project diagnostic_aggregator, cmake `find_package` of pluginlib fails since the latest changes with:

[code]
_(I shortened the workspace path)_

This may be in some kind of connection with #191?

[2020-05-15 08:38] jim1949 opened #195 "For non-use of ros dependency"
Hi, our developers are using pluginlib now, but it is always difficult to transfer from ROS to ROS2 or other communication tools, so my question is that is it possible for us not to use pluginlib without using ROS?

[2020-05-22 01:17] DangMinh24 opened #196 "Segfault in pluginlib-tutorial whenever adding Plugins-Description-File between <export> tags"
Hi,

Short:
I tried to follow the pluginlib-tutorial ([https://wiki.ros.org/pluginlib/Tutorials/Writing%20and%20Using%20a%20Simple%20Plugin](https://wiki.ros.org/pluginlib/Tutorials/Writing%20and%20Using%20a%20Simple%20Plugin)) building from source but keep getting `Segmentation fault (core dumped)` whenever adding "Plugin Description File" into the `package.xml`.

I can successfully initialize th

[2020-05-22 08:12] DangMinh24 commented on #196
Not really sure whether is this a solution or not, but I think `pluginlib` does not work well with `catkin`. Doing some debugging, found out that the main problem due to `ros::package::xxx()` functions, which are supported when creating ROS-package using `roscreate-pkg`.

Recommend to work with pluginlib using `roscreate-pkg`. Still trying to figure out ways to work with `catkin`

[2020-05-23 00:25] DangMinh24 commented on #196
I finally understand the problem and fixed it successfully: The main reason is `ros::package::xxx()` compatible with `boost-1.58` while I was using `boost-1.70` [link](https://answers.ros.org/question/249017/rospack-segmentation-fault/). Return everything back to `boost-1.58`, everything's fine.

[2020-05-23 00:25] #196 closed, assigned to nobody

[2020-05-26 09:47] norro commented on #194
fixed in latest master

[2020-05-26 09:47] #194 closed, assigned to nobody

[2020-06-30 05:21] JaehyunShim opened #198 "Question about how to export plugin.xml files"
Hi @sloretz

I would like to ask a question about how to export plugin.xml files. I am currently using Ubuntu 20.04, ROS2 Foxy version.

It seems, in ROS2, you should add **_pluginlib_export_plugin_description_file(plugin_file_name.xml)_** in CMakeLists.txt and build the package, but you don't have to export anything in your package.xml file (which is different from this test [code](https://github

[2020-06-30 19:30] sloretz commented on #198
I'm not sure if the entry in the `<export>` section of the `package.xml` file is still needed in ROS 2. It looks like that `package.xml` [hasn't been changed since 2018](https://github.com/ros/pluginlib/blob/foxy/pluginlib/test/test_package.xml), so it may be out of date.

There are some instructions in the documentation of the CMake macro `pluginlib_export_plugin_description_file()`

https://gith

[2020-06-30 19:30] #198 closed, assigned to nobody

[2020-08-19 17:58] sloretz opened #200 "[ROS 2] Support modules on OSX with `.so` or `.bundle` suffix"
I ran into an issue on ros2/urdf#13 where pluginlib is unable to find a module on only OSX. The cause is I buit the library using the `MODULE` type instead of the `SHARED` type, and that caused the built library name to be `liburdf_xml_parser.so` instead of `liburdf_xml_parser.dylib`.

[code]

https://github.com/ros2/urdf/pull/13/files#diff-a6cb7a77ca27d5dcfb7fe4ec2004f324R52-R54

It seems like [`

[2020-08-27 19:24] asobhy-qnx opened #204 "no implementation for QNX filesystem lib in CMakeLists.txt"

[2020-09-02 15:07] asobhy-qnx commented on #204
@dirk-thomas

[2020-09-03 18:34] dirk-thomas commented on #204
@mjcarroll Can this be closed? Does the merged PR need to be backported?

[2020-09-08 02:31] jaemin-gurumnet opened #207 "[dashing] Syntax error on pluginlib/pluginlib-extras.cmake"
In commit 70cb9d6d7f9fda6f6220831952ea27755b40df51, there is a syntax error on pluginlib/pluginlib-extras.cmake:34
`endif` should be modified with `endif()`

[2020-09-08 22:43] #207 closed, assigned to nobody

[2020-09-10 17:03] #204 closed, assigned to mjcarroll

[2020-09-10 17:03] mjcarroll commented on #204
Dashing backport: https://github.com/ros/pluginlib/pull/206

[2020-10-22 20:01] asobhy-qnx commented on #204
@mjcarroll can you please backport to foxy as well?

[2021-01-13 13:29] clalancette commented on #168
I do believe that this is fixed by #212, so I'm going to close this out.  Feel free to reopen if I turn out to be wrong.

[2021-01-13 13:29] #168 closed, assigned to nobody

[2021-02-22 14:20] wolfv opened #215 "OS X has issues compiling with SDK <10.15"
We've ran into problems with MAC OS X deployment target <10.15, as the filesystem API is not generally available before that.

Specifying 10.15 works, but it's not really desirable. I am also suspecting that there are OGRE build issues because of the 10.15 deployment target pin but I need to investigate that further.

https://dev.azure.com/roboforge/ros_pipelines/_build/results?buildId=1468&view=l

[2021-04-12 03:04] JaehyunShim opened #216 "Searching available plugins in ROS2"
In ROS1, you could do it by doing as the below link.
http://wiki.ros.org/pluginlib#pluginlib.2Fpluginlib_groovy.Querying_ROS_Package_System_For_Available_Plugins

What command line should  I use to do the same in ROS2? (rospack is not avaiable in ROS2)

Thanks in advance!

[2021-05-14 20:25] clalancette commented on #215
We've removed all linking against std::filesystem in this package as of #212.  Since I think that will fix this issue, I'm going to close this out.  Feel free to reopen if I'm mistaken.

[2021-05-14 20:25] #215 closed, assigned to nobody

[2021-05-14 20:29] clalancette commented on #51
At this point, I don't think it is worth it to change this for ROS 1 version of pluginlib.  We've already moved away from boost for ROS 2.  As such, I don't think there is anything to do here so I'll close this out.

[2021-05-14 20:29] #51 closed, assigned to nobody

[2021-05-14 20:31] clalancette commented on #127
Given that this is a very old question, I'm going to close this out.  Please feel free to reopen if you think there is something to change here.

[2021-05-14 20:31] #127 closed, assigned to nobody

[2021-05-14 20:39] clalancette commented on #195
In short: not really.  This package depends on several ROS-specific headers and functionality (most notably `class_loader`, `ros/console.h`, and `ros/package.h`).  The ROS 2 version has far fewer dependencies (only `class_loader`, as far as I can tell).  In theory it should be possible to replace those with custom implementations, but we don't have anything to do that right now.

I'm going to clos

[2021-05-14 20:39] #195 closed, assigned to nobody

[2021-06-26 20:13] CukeManCZ opened #218 "Error_when_building_ROS2"
So I was first time building ROS 2 and in final step when I use:
colcon build --cmake-force-configure.

This error will show up:

[code]
What I can do with it ?

[2021-07-01 10:39] Serafadam opened #219 "Rosdep signals missing tags on Foxy built from source"
Hi, when following Nav2 build from source instructions in my workspace https://navigation.ros.org/build_instructions/index.html
At the step when rosdep is required, an error pops out
[code]
Adding these tags fixes the error, I'm not sure whether this is expected behaviour.

[2021-12-24 15:59] roversch opened #227 "Got LibraryUnloadException on correct unloading"
I'm on `1.13.0-1focal.20210727.062753` with ROS `noetic`.

I have the following plugin situation, both are part of the same dynamic library:

[code]

When I call `createUnmanagedInstance` with the name of `Child1`, it correctly gets `resolved_library_path_` set. When I do the same for `Child2`, it is not updated from `UNRESOLVED`.

When I then try to call `unloadLibraryForClass`, the `Child1` is c

[2022-03-16 08:48] BurakHocaoglu opened #236 "Error while plugin loading"
Hello,

I work with Ubuntu 16.04 LTS and ROS Kinetic. I've got a segmentation fault at the plugin loading stage of `mavros` package (master branch), specifically at the `boost::filesystem::path` destructor.

GDB output:
[code]
---
Valgrind output:
[code]

The debug level output suggests that the XML file was being read; however, GDB shows that something breaks at `pluginlib::ClassLoader<mavros::pl

[2022-05-13 16:40] mantkiew commented on #20
@esteve Today, I just stumbled upon an edge case here:
1. have a package P release build sourced, which has `libP_nodelet.so`
2. have a catkin workspace with a debug build of the same package P, which has `devel/lib/libP_nodelet-d.so`.

When debugging P node which loads the P_nodelet, it always loads `libP_nodelet.so` instead of `devel/lib/libP_nodelet-d.so` from the catkin workspace! It really tr

[2022-07-14 21:20] sloretz opened #237 "Pluginlib ament index resource types should use periods as a separator"
Currently `pluginlib_export_plugin_description_file()` creates a resource type in the ament index called `{plugin category}__pluginlib__plugin`. However, This seems like "nesting resource types" to me. The ament resource index documentation says for nested resource types ["[...] the convention of using prefixes and suffixes separated by periods should be used."](https://github.com/ament/ament_cmak

[2022-09-05 11:35] MatthijsBurgh opened #239 "New noetic release"
Please create a new release including https://github.com/ros/pluginlib/pull/238.

[2022-09-05 11:36] MatthijsBurgh commented on #239
@nuclearsandwich I think you are the guy to do this.

[2022-09-16 18:49] MatthijsBurgh commented on #239
@nuclearsandwich friendly ping ;)

[2022-10-03 20:30] ashwinvkNV-zz opened #240 "Error parsing xml comment in package.xml"
**Issue:**
When a comment(eg: license) is added using the `` format before the <package> tag in the package.xml file of a rviz plugin, pluginlib exits with the following error:
`Could not find a root element for package manifest at`
 This is because the tinyxml2::XMLDocument function `FirstChildElement("package")` returns NULL when a XML comment is present before the "package" child element. https

[2022-10-06 18:16] MatthijsBurgh commented on #239
@nuclearsandwich could we get a new release in before next sync? https://discourse.ros.org/t/noetic-sync-before-roscon-iros/27646

[2022-10-13 13:55] georgiagn opened #241 "Missing license"
In order to use this package (which is by default installed with ros-core) in a production release, we need to indicate its license. Could you please add a licence?

[2022-10-25 08:13] MatthijsBurgh commented on #239
@nuclearsandwich friendly ping ;) Hopefully we can get this one out with the november sync.